.modules_container_day#m-1_day_1
    h5.modules_container_days_title День 1 
        span Биология сознания
    ul.modules_days_list
        li Биология сознания
        li Сознание и подсознание. Тройственный ум и клеточные органеллы
        li Эмбриональная клетка
        li Сознание: Внутреннее Я и Центр осознанности
        li Гены и пиковые состояния
        li Разница между исцелением и обходом исцеления травмы
        li История семьи и нагрузка родовой системы
.modules_container_day#m-1_day_2
    h5.modules_container_days_title День 2 
        span Безопасность и выживание
    ul.modules_days_list
        li Травма, приводящая к заболеванию
        li Травма – это карма или…?
        li Выживательные инстинкты, оберегающие травму
        li Вторичная выгода травмы
        li Вторичная выгода заболевания
        li Привычки, управляющие нашей судьбой
        li Выгоды от диссоциативных состояний
        li Устранение вторичных выгод
        li Безопасность и  выживание. Выживание и заболевание. Заболевание как безопасность
.modules_container_day#m-1_day_3
    h5.modules_container_days_title День 3 
        span Страхи и фобии
    ul.modules_days_list
        li Страхи и фобии
        li Отправная точка страхов
        li Травмы родовых систем как кармическая проработка опыта
        li Генетические заболевания как травма систем
        li Слои травм и исцеление по принципу «нейтрализация эмоциональных симптомов»
        li Согласованность и рассогласованность умов
        li Рассогласованность умов  как первопричина заболеваний
.modules_container_day#m-1_day_4
    h5.modules_container_days_title День 4 
        span Эпигенетика
    ul.modules_days_list
        li Эпигенетика. Моменты развития, предшествующие зачатию
        li История яйцеклетки
        li Создание яйцеклетки
        li Овуляция
        li Оплодотворение яйцеклетки
        li Травма яйцеклетки 
        li Исцеление травмы яйцеклетки
.modules_container_day#m-1_day_5
    h5.modules_container_days_title День 5 
        span Травмы как память вторжения
    ul.modules_days_list
        li Сперматозоид. История сперматозоида
        li Травма сперматозоида
        li Травма личных границ
        li Травма насилия как  память вторжения
        li Исцеление травмы насилия
.modules_container_day#m-1_day_6
    h5.modules_container_days_title День 6 
        span Травмы при беременности
    ul.modules_days_list
        li Травма во время беременности
        li Иллюзия защищенности от инстинкта возвращения в перинатальный период
        li Пиковые состояния беременности как защитный механизм ребенка
        li Роды и иллюзия разъединенности
        li Процесс родов
        li Перерезание пуповины
        li Смерть плаценты как иллюзия смерти ресурсов
.modules_container_day#m-1_day_7
    h5.modules_container_days_title День 7 
        span Самосаботаж и заболевания
    ul.modules_days_list
        li Заболевания как метафизический объект
        li Заболевания и беременность
        li Влияние токсинов на плод
        li Влияние плода на внутриутробный стресс
        li Самосаботаж как путь к заболеваниям
        li Почему люди не всегда исцеляются. Причины удержания заболевания и летальный исход как устранение самосаботажа
.modules_container_day#m-1_day_8
    h5.modules_container_days_title День 8 
        span Анатомия и метафизика
    ul.modules_days_list
        li Понятие личных границ. Чистка от паразитов
        li Болезнь Эго. Умственные расстройства
        li Анатомия и метафизика. Основные принципы 
        li Анатомические осознания.  Система коммуникаций нашего тела
.modules_container_day#m-1_day_9
    h5.modules_container_days_title День 9 
        span Инструменты исцеления
    ul.modules_days_list
        li Сеанс исцеления. От подготовки к сеансу до его окончания
        li Пошаговое проведение сессии
        li Инструменты исцеления
        li Интеграция ресурсов
        li Манифестация здоровья
        li Признание и проработка выживательных инстинктов
        li Разотождествление болезни как выживание  