section#if
	.container
		h3.general_title.if_general_title Почему 
			span стоит прийти 
			| на интенсив:
		.if_container
			img.if_container_img(src="img/if_img_1.png", alt="1")
			p.if_container_text Если вы 
				span боитесь перемен, 
				| чувствуете себя неспокойно, болеете, переживаете непростой период, не чувствуете себя защищенными, одиноки, растеряны, 
				span ощущаете безнадежность или страх 
				| – вам обязательно стоит посетить интенсив по метафизике с целью выявления причин ваших невзгод
		.if_container
			img.if_container_img(src="img/if_img_2.png", alt="2")
			p.if_container_text Люди 
				span впадают в отчаяние, 
				| когда они отсоединены  от своей основной жизненной задачи и позволяют другим управлять их судьбой. Часто 
				span потеря контроля 
				| над своей собственной жизнью приводит к потере жизненно- важных функций организма. 
				span Организм начинает страдать и болеть. 
				| И часто болезнь выступает в качестве защитника, чтобы указать человеку на его неправильный выбор. Зачастую болезнь – не враг, а союзник. Союзник, который защищает от невосполнимой душевной боли. Ведь 
				span боль души может привести к непоправимому 
				| – уходу из жизни
			p.if_container_text Поэтому, чтобы человек не сошел с ума и не свел счеты с жизнью – к нему на помощь приходит болезнь. Абсурд, правда? Но, увы, это факт. Поэтому в течении трех дней интенсива нам 
				span необходимо разобраться 
				| в данном механизме, чтобы пересмотреть наши болезни и начать с ними «союзничать», а не враждовать. Иными словами, взять под контроль все, что с нами происходит
		.if_container
			img.if_container_img(src="img/if_img_3.png", alt="3")
			p.if_container_text
				span Жить, контролируя  свою собственную жизнь 
				| – это самая сложная, но основная задача человечества. Ответственность всегда легче отдать  другим, чем нести самому. Почему мы так боимся ответственности? Дело в том, что нам тогда придется брать ответственность за решения, которые нами были сделаны в прошлом. А соответственно и за последствия этих осознанных или бессознательных решений. А психике это невыносимо осознавать. Ведь тогда придется признать, что все 
				span невзгоды и проблемы были сформированы нами. 
				| Нет, легче заболеть и обвинить во всем кого-то другого: родителей, страну, экологию, партнера, работодателя, да кого угодно, лишь бы не сталкиваться лицом к лицу со своими прошлыми неосознанными решениями и выбором.
			p.if_container_text Поэтому, этот интенсив необходим лишь тем, 
				span кто готов посмотреть правде в глаза 
				| и пересмотреть события прошлого через объективное видение, а не субъективное суждение
			p.if_after_container Если вы 
				span устали от проблем, болезней, невзгод,
				|  препятствий, плохого самочувствия, низкого жизненного тонуса, отсутствия мотивации или результатов – вам на интенсив!
			button.button.if_button(data-toggle="modal" data-target="#modalModule_1") Записаться