section#last
    .container
        h3.general_title.last_general_title
            span Достигай большего 
            | ежедневно!
        p Десятки учеников доверяют нам и реализуют свои цели
        h4.last_subtitle Начните сейчас это бесплатно!
        button.button.last_button(data-toggle="modal" data-target="#modalModule_1") Записаться!
        #footer
            p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100