section#plan
	.container
		h3.general_title.plan_general_title
			span План 
			| интенсива
		.plan_container.plan_container_1
			h4.plan_container_title.plan_container_title_1 День 1
			h5.plan_container_subtitle Техника, которая творит чудеса
			ul.plan_container_list
				li Нашей жизнью управляют 
					span травмы прошлого. 
					| Мы принимаем решения, действуем, строим свое будущее, исходя из опыта прошлых событий. К счастью и одновременно к сожалению мы 
					span наследуем выживательную модель, 
					|  которая, с одной стороны, велит нам как жить, оберегая от повторения травм прошлого, с другой стороны, блокирует любое движение и развитие. То есть, в нас вшита некая модель судьбы, которую мы бессознательно проживаем. Но это не наша судьба, иначе мы бы не болели, не хандрили, не страдали. А чья это судьба? Зачем мы живем какими-то непонятными установками и предписаниями?
				li Вот сегодня, в первый день интенсива мы 
					span наглядно рассмотрим 
					| за кого именно вы проживаете жизненный опыт и какие задачи необходимо преодолеть, чтобы выйти в свою собственную судьбу
				li Мы рассмотрим видимые и бессознательные причины 
					span болезней, неудач, безденежья, бездетности 
					| и всего того, что портит наше существование
				li Проделаем 
					span Технику «Сопротивление Ума», 
					| которая наглядно покажет как мы собственноручно блокируем свое развитие и благополучие. Задача сегодняшнего дня увидеть, что все, что с нами происходит – заложено в наших  родовых «программах». А, главное, я вам покажу, 
					span как выискивать ключевую точку, 
					| сформировавшую череду неудач, болезней, неприятностей
			.plan_container_bonus 
				i.fas.fa-gift 
				p
					span Бонус: 
					| Техника «Три шага для быстрых личностных изменений»
		.plan_container.plan_container_2
			h4.plan_container_title.plan_container_title_2 День 2
			h5.plan_container_subtitle Инстинкты, управляющие судьбой
			ul.plan_container_list
				li Настало время познакомиться с 
					span ключевыми аспектами метафизики. 
					| Что такое метафизика? Как работает связка психики и физического проявления. 
					span Как формируются болезни. 
					| Почему дети одного рода болеют разными заболеваниями. Что необходимо предпринять, чтобы не унаследовать генетические заболевания
				li 
					span Наследственные травмы. 
					| Помимо заболеваний мы так же наследуем травмы через повторение негативных ситуаций. Часто мы проживаем негативные события, которые являются отзеркаливанием травм нашего рода. Кто-то в родовой системе поступил «не по совести», а нам приходится расхлебывать. 
					span Поврежденная родовая система 
					| не может порождать цельное потомство. «Поломки» рода необходимо устранять для восстановления целостности личности. И техники Метафизики нам в помощь
				li Во втором дне мы проделаем 
					span технику «Травма моего рода», 
					| чтобы прочувствовать тот «раскол», который привел нас к текущим проблемам и болезням
			.plan_container_bonus 
				i.fas.fa-gift 
				p
					span Бонус: 
					| Техника «Мой страх». Как быстро справиться со страхом и саботажем перед любыми действиями
		.plan_container.plan_container_3
			h4.plan_container_title.plan_container_title_3 День 3
			h5.plan_container_subtitle Самосаботаж и вторичные выгоды
			ul.plan_container_list
				li Почему 
					span не все люди исцеляются. Самосаботаж 
					| актуален для проработки в любой сфере жизни: деньги, отношения, дети, развитие, здоровье и т.д; Сегодня мы поговорим на такие актуальные темы, как лень, низкий жизненный тонус, отсутствие мотивации, страх,  невозможность масштабировать свои действия для получения изобилия. Почему одни люди продвигаются по жизни и получают результат, другие топчутся на месте или еще хуже теряют наработанное
				li Часто мы путаем страх с и интуицией. Идя на поводу у страха, делаем неправильный выбор и принимаем решения, приводящие нас в тупик. 
					span Бег по кругу 
					| – это не фатальность, это наше бессознательное решение не сталкиваться с развитием. Поэтому наш мозг нас пугает, выдавая страх за интуицию. Сегодня мы проделаем 
					span технику, 
					| которая поможет в будущем  
					span отличать интуицию от страха 
					| и давать нам ясное понимание куда нам стоит двигаться, а куда нет
				li 
					span Изобилие. 
					| Состояние, к которому стремится все человечество. Но вот почему-то кто-то изобилует ресурсами, а кто-то болезнями и проблемами. Как выйти из болезненного изобилия и перейти на уровень ресурсного изобилия
			.plan_container_bonus 
				i.fas.fa-gift 
				p 
					span Бонус: 
					| Манифестация изобилия. Мы проделаем технику, которая даст вам почувствовать ваши родовые ресурсы, которыми вы можете пользоваться по праву вашего рождения. Мы разблокируем то, что долгое время находилось «под замком» и интегрируем изобилие в ваше сознание
		button.button.plan_button(data-toggle="modal" data-target="#myModalForm") Записаться