#author
	width 100%
	padding 62px 0 92px
	background-image url(../img/author_bg.jpg)
	background-repeat no-repeat
	background-position 471px 64px
	overflow hidden
	.container
		position relative
#janna_about_back
	position absolute
	bottom -92px
	right -54%
	z-index: 0
#janna_about
	position absolute
	bottom -92px
	right 0
	z-index 1
.author_general_title
	font-family: 'Rubik', sans-serif
	margin-bottom: 70px
	span 
		font-family: 'RubikBold', sans-serif
.author_subtitle
	font-size: 24px;
	font-family: "GilroyExtraBold", sans-serif;
	color: rgb(47, 59, 74);
	line-height: 1.375;
	margin-bottom: 30px
	margin-left: 4px
.author_list
	width 100%
	max-width 540px
	li
		position relative
		z-index 9
		padding-left: 32px
		font-size: 18px;
		font-family: "GilroyLight", sans-serif;
		color: rgb(15, 36, 50);
		line-height: 1.444;
		margin-bottom: 15px
		list-style none
		&:last-child
			margin-bottom: 0
		&:before
			content: ''
			position: absolute
			top: 11px;
			left: 4px;
			border-radius: 50%;
			background-color: rgb(11, 78, 99);
			width: 7px;
			height: 7px;
#certs
	padding  32px 0 33px
	background-color: #00475d
	background-image url(../img/waves.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
#certs_carousel
	margin-bottom: 15px
	.owl-stage
		padding-bottom: 15px
.certs_carousel_link
	box-shadow: 0px 0px 16.56px 1.44px rgba(8, 6, 6, 0.2);
	display block
	margin 0 auto
	img
		border-radius: 3px;
		height 109px
.owl-nav
	position: absolute
	top: 12%;
	left: -30px;
	right: 0;
	height: 0;
	width: 105.5%;
	margin-top: 0
.owl-theme .owl-nav [class*="owl-"]
	background: #ffb21e
	border-radius: 50%;
	box-shadow: 0px 0px 7px 0px rgba(11, 11, 10, 0.6);
	top: 5833px;
	width: 50px;
	height: 50px;
	line-height: 34px;
	font-size: 44px
	text-align: center
	font-family: 'OpenSansRegular', sans-serif
	color #022a37
	&:hover
		background: #d7b005
		color #242323
.owl-prev
	float left
.owl-next
	float: right