#if
	width 100%
	padding 90px 0 30px
	background-image: url(../img/if_bg.jpg)
	background-repeat no-repeat
	background-position: center top
	background-size: contain
.if_general_title
	margin-bottom: 53px
.if_container
	width 100%
	max-width: 936px
	margin 0 auto 45px
	text-align: center
.if_container_img
	display: inline-block
.if_container_text
	margin-top: 23px
	font-size: 18px;
	font-family: "GilroyLight", sans-serif;
	color: rgb(47, 59, 74);
	span
		font-family: "GilroyExtraBold", sans-serif;
.if_after_container
	width 100%
	max-width 936px
	margin 52px 0 61px
	background-color: #00475d
	background-image url(../img/waves.png)
	background-position: center
	padding 28px 100px
	color #fff
	font-size: 22px;
	font-family: "GilroyLight", sans-serif;
	border-radius: 10px
	span
		font-family: "GilroyExtraBold", sans-serif;