#last
	padding 205px 0 41px
	background-image: url(../img/last_bg.png)
	background-repeat no-repeat
	background-position center top
	background-size: cover
	text-align: center
.last_general_title 
	color #ffb21e
	margin-bottom: 8px
	font-size: 40px
	&+p
		font-size: 27px;
		color: rgb(255, 255, 255);
		line-height: 1.296;
		text-shadow: 0px 0px 7.36px rgba(8, 6, 6, 0.58);
		width 100%
		width: 456px;
		margin 0 auto
.last_subtitle
	font-size: 33px;
	font-family: "GilroyExtraBold", sans-serif;
	color: rgb(255, 255, 255);
	line-height: 1.188;
	text-shadow: 0px 0px 7.36px rgba(8, 6, 6, 0.58);
	margin 25px 0 42px
#footer
	margin-top: 114px
	text-align: center
	p
		font-size: 14px;
		font-family: "OpenSansLight", sans-serif;
		color: rgba(254, 254, 254, 0.302);
		line-height: 1.786;
.mail_modal-content
	background-color: rgb(245, 179, 52);
	.checking
		margin 12px auto
		max-width 80%
		.check_label
			font-size: 12px
button.close
	position absolute
	width: 35px
	height 35px
	border-radius: 50px
	line-height: 35px
	text-align: center
	font-size: 30px
	color: #000
	background-color: #F0F0F0
	top 15px
	right 15px
	left auto
	z-index 99
.modal_mail_section_title
	margin 20px 0 15px
.modal_mail_subtitle.infront 
	font-size: 20px
	margin-bottom: 20px
.modal_soc_buttons_mail_title
	margin-top: 20px
.politics_modal-content
	.modal-title
		font-size: 24px
		text-align: left 
		small
			display: block
	p
		font-size: 16px
		margin-bottom: 15px