@media screen and (min-width 1400px)
	#main
		background-position: center top
	#revs
	#if
		background-size: cover
	#plan
		padding 80px 0
		min-height 1px
@media screen and (min-width 2295px)
	.container
		width 1400px
	.contacts a i
	.contacts a i+span
		font-size: 19px
	#janna_main
		right: -358px;
		top: -157px;
	.pre
	.infront_submit
	.plan_container_subtitle
		font-size: 24px
	.main_title
		font-size: 40px
		max-width 490px
		margin 25px 0 35px
	.video_wrapper_main
		max-width 520px
	.main_author
		top: 557px;
		left: 553px;
	.button
	.mail, .phone
	.mail_subtitle
	.alert_message
	.plan_container_list li
	.plan_container_bonus p
	#footer p
		font-size: 18px
	.checking .check_label
		font-size: 14px
	.mail_section_title
		margin-top: 44px
	.if_container_text
	.modal_form .phone_title
	.modal_form .infront_submit
	.author_list li
		font-size: 22px
	.plan_container
		max-width 1340px
	#plan
		padding 90px
		min-height 1px
	.plan_container_title_2
		top 23px
	.plan_container_title_3
		top 64px
	.author_list
		max-width 730px
	.owl-nav
		width: 104.5%;
	#last
		padding-top: 320px
	.text_revs_link img
		min-height 140px
	#jannas_videos
		max-width 650px
	#jannas_videos .owl-nav
		width: 812px
		top: 41%;
	#jannas_texts .owl-nav
		top: 30%;
		width: 86%;
		left: 93px;
@media screen and (max-width 1199px)
	#janna_main
		right: -551px;
		top: -284px;
	.pre
	.main_title
	.main_date
		position relative
		z-index: 9
	.main_title
		max-width 325px
	.main_author
		top: 464px;
		left: 369px;
	.mail, .phone
		max-width 260px
	.mail_section_title
		margin-top: 36px
	.plan_container_title_1
		top: 125px;
	.plan_container_title_2
		top 82px
	.plan_container_title_3
		top 128px
	#janna_about_back
		right -74%
	#janna_about
		right -30px
	.author_list
		max-width 486px
	#certs_carousel
		.owl-nav
			position: static
			width 100%
			height 50px
			margin: 0 auto  20px
	#jannas_texts
		.owl-nav
			position: static
			width 97%
			height 50px
			margin 0 auto
	.text_revs_link img
		max-width 97%
		min-height 131px