#plan
    width 100%
    padding 202px 0 171px
    background-image url(../img/plan_bg.png)
    background-repeat no-repeat
    background-position: center
    background-size: cover
    min-height: 2264px
.plan_general_title
    color #ffffff
    margin-bottom: 81px
.plan_container
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 6px 16.2px 1.8px rgba(3, 2, 2, 0.38);
    width 100%
    max-width: 1140px;
    margin 0 auto 40px
    padding 35px 42px 49px 276px
    background-repeat no-repeat
    background-position: -143px center
    position relative
.plan_container_1
    background-image url(../img/day_img_1.png)
.plan_container_2
    background-image url(../img/day_img_2.png)
.plan_container_3
    background-image url(../img/day_img_3.png)
.plan_container_title
    position: absolute
    border-radius: 50%;
    background-color: rgb(11, 78, 99);
    width: 132px;
    height: 132px;
    line-height: 132px
    text-align: center
    font-size: 22px;
    font-family: "GilroyExtraBold", sans-serif;
    color: rgb(255, 178, 30);
    left 110px
.plan_container_title_1
    top 81px
.plan_container_title_2
    top 30px
.plan_container_title_3
    top 58px
.plan_container_subtitle
    font-size: 22px;
    font-family: "GilroyExtraBold", sans-serif;
    color: rgb(15, 36, 50);
    line-height: 1.091;
    margin:0 0 20px
.plan_container_list
    li
        list-style none
        position relative
        color: rgb(15, 36, 50);
        line-height: 1.5;
        margin-bottom: 12px
        padding-left: 16px
        &:before
            content: ''
            border-radius: 50%;
            background-color: rgb(0, 71, 93);
            position: absolute;
            width: 7px;
            height: 7px;
            top 7px
            left 0
        &:last-child
            margin-bottom: 0
    span
        font-family: 'GilroyExtraBold', sans-serif
.plan_container_bonus 
    display: table
    color #0f2432
    margin-top: 16px;
    p
        display: table-cell
        span
            font-family: 'GilroyExtraBold', sans-serif
            text-transform: uppercase
    .fa-gift
        color #FFAF00
        font-size: 25px
        margin-right: 13px
.plan_button
    margin-top: 85px