#reach
	width 100%
	padding 60px 0
	background-image url(../img/author_bg.jpg)
	background-repeat no-repeat
	background-position 471px 64px
	overflow hidden
	.container
		position relative
#janna_about_back
	position absolute
	bottom -92px
	right -54%
	z-index: 0
.reach_list
	width 100%
	max-width 540px
	li
		position relative
		z-index 9
		padding-left: 32px
		font-size: 18px;
		font-family: "GilroyLight", sans-serif;
		color: rgb(15, 36, 50);
		line-height: 1.444;
		margin-bottom: 15px
		list-style none
		&:last-child
			margin-bottom: 0
		&:before
			content: ''
			position: absolute
			top: 11px;
			left: 4px;
			border-radius: 50%;
			background-color: rgb(11, 78, 99);
			width: 7px;
			height: 7px;
.reach_button
	margin 60px 0 0