section#for
	.container
		p.for_pre_title 
			span Метафизика 
			| – исцеление первичной клетки. Мощная технология по исцелению клетки, запустившей заболевание. Серьезная  болезнь возникла ни  за один день. Этому предшествовали годы, а то  и несколько поколений травм. Но так  же существуют и конверсионные заболевания, которые регрессируют мгновенно из психоэмоционального  стресса в выраженный психосоматоз. Если заболевание носит родовой характер, необходимо исцелять ДНК структуру клеток. Если же заболевание носит психоэмоциональный характер, оно поддается коррекции через исцеление травм. Задача Метафизики отыскать первичную клетку, запустившую механизм заболевания и исцелить. Исцеляя клетку, исцеляем весь организм в целом
		h3.general_title.for_general_title Этот курс 
			span для тех, 
			| кто:
		ul.for_list
			li хочет научиться исцелять заболевания через проработку пиковых состояний
			li хотел бы стать эффективным специалистом в области метафизики
			li отчаялся в исцелении своих заболеваний
			li хотел бы разобраться в причинах своих заболеваний
			li хотел бы не заглушать симптомы заболевания, а именно исцелять через проработку причин заболевания
			li хотел бы получить новую технологию исцеления болезней, безденежья, недугов