section#reach
	.container
		h3.general_title.reach_general_title Что 
			span даст вам 
			| курс
		img(src="../img/janna_about_back.png", alt="Зданий фон за Жанной")#janna_about_back
		ul.reach_list
			li Вы научитесь находить первопричину заболеваний
			li Научитесь исцелению травм клеток
			li Научитесь исцелять травмы, которые привели к заболеваниям
			li Научитесь работать с самосаботажем и  вторичными выгодами бессознательного удержания заболевания 
			li Узнаете  как работать с  неврозами и навязчивыми состояниями
			li Научитесь манифестировать здоровье и успех
			li Создадите новую идентификацию  благополучной личности
			li Избавитесь от череды болезней, травм и неприятностей
		a.button.reach_button(href="#prices") Участвовать