@font-face {
	font-family: 'GilroyExtraBold';
	src: url('../fonts/GilroyExtraBold.eot');
	src: url('../fonts/GilroyExtraBold.eot') format('embedded-opentype'),
		 url('../fonts/GilroyExtraBold.woff2') format('woff2'),
		 url('../fonts/GilroyExtraBold.woff') format('woff'),
		 url('../fonts/GilroyExtraBold.ttf') format('truetype'),
		 url('../fonts/GilroyExtraBold.svg#GilroyExtraBold') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'GilroyLight';
	src: url('../fonts/GilroyLight.eot');
	src: url('../fonts/GilroyLight.eot') format('embedded-opentype'),
		 url('../fonts/GilroyLight.woff2') format('woff2'),
		 url('../fonts/GilroyLight.woff') format('woff'),
		 url('../fonts/GilroyLight.ttf') format('truetype'),
		 url('../fonts/GilroyLight.svg#GilroyLight') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.eot');
	src: url('../fonts/OpenSans.eot') format('embedded-opentype'),
		 url('../fonts/OpenSans.woff2') format('woff2'),
		 url('../fonts/OpenSans.woff') format('woff'),
		 url('../fonts/OpenSans.ttf') format('truetype'),
		 url('../fonts/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBoldItalic';
	src: url('../fonts/OpenSansBoldItalic.eot');
	src: url('../fonts/OpenSansBoldItalic.eot') format('embedded-opentype'),
		 url('../fonts/OpenSansBoldItalic.woff2') format('woff2'),
		 url('../fonts/OpenSansBoldItalic.woff') format('woff'),
		 url('../fonts/OpenSansBoldItalic.ttf') format('truetype'),
		 url('../fonts/OpenSansBoldItalic.svg#OpenSansBoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSansItalic';
	src: url('../fonts/OpenSansItalic.eot');
	src: url('../fonts/OpenSansItalic.eot') format('embedded-opentype'),
		 url('../fonts/OpenSansItalic.woff2') format('woff2'),
		 url('../fonts/OpenSansItalic.woff') format('woff'),
		 url('../fonts/OpenSansItalic.ttf') format('truetype'),
		 url('../fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSansLight.eot');
	src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
		 url('../fonts/OpenSansLight.woff2') format('woff2'),
		 url('../fonts/OpenSansLight.woff') format('woff'),
		 url('../fonts/OpenSansLight.ttf') format('truetype'),
		 url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Rubik';
	src: url('../fonts/Rubik.eot');
	src: url('../fonts/Rubik.eot') format('embedded-opentype'),
		 url('../fonts/Rubik.woff2') format('woff2'),
		 url('../fonts/Rubik.woff') format('woff'),
		 url('../fonts/Rubik.ttf') format('truetype'),
		 url('../fonts/Rubik.svg#Rubik') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RubikBold';
	src: url('../fonts/RubikBold.eot');
	src: url('../fonts/RubikBold.eot') format('embedded-opentype'),
		 url('../fonts/RubikBold.woff2') format('woff2'),
		 url('../fonts/RubikBold.woff') format('woff'),
		 url('../fonts/RubikBold.ttf') format('truetype'),
		 url('../fonts/RubikBold.svg#RubikBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

*
	margin 0
	padding 0
	outline none
body
	font-size: 16px
	font-family: 'GilroyLight', sans-serif
	background-color #fff
a
	color: #fefefe
	&:focus
		outline: 0
	&:hover
		text-decoration none
h1,h2,h3,h4,h5,h6
	font-weight: normal
button
	border none
.video_wrapper
	margin 0 auto
	position relative
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #fff
		border-radius 3px
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
.button
	display block
	background-color: rgb(255, 178, 30);
	width 100%
	max-width: 291px;
	height: 60px;
	line-height: 60px;
	font-family: "GilroyExtraBold", sans-serif;
	color: #022a37
	text-align: center;
	margin 0 auto
	border-radius: 30px
	text-transform: uppercase
	&:focus
		background-color: rgb(255, 178, 30);
		color: rgb(8, 24, 51);
		text-decoration: none
	&:hover
		background-color: #FFCF77
		color: rgb(8, 24, 51);
		text-decoration: none
.general_title
	font-size: 34px;
	font-family: "GilroyLight", sans-serif;
	color: rgb(47, 59, 74);
	line-height: 1.153;
	text-align: center;
	span
		font-family: "GilroyExtraBold", sans-serif;
#main
	width 100%
	padding 0 0 74px
	overflow hidden
	background-image url(../img/main_bg.jpg)
	background-repeat no-repeat
	background-position: 0 0
	background-size: auto
	.container
		position relative
#blue_back
	position: absolute
	right: -495px;
	bottom: -74px
	z-index 0
	width 1221px
	z-index: 0
#header
	padding: 29px 0
	overflow hidden
	z-index: 9
	position relative
	margin-bottom: 5px
#logo
	float: left
	width 165px
	height auto
#logo2
	display: none
	width 165px
	height auto
	margin 0 auto 10px
.contacts
	float: right
	text-align: right
	line-height  12px
	a
		&:focus
			text-decoration: none
		i
			color: #eec33f
			font-size: 21px
			margin: 0 9px 0 15px
			line-height: 15px
			line-height: 21px;
			vertical-align: middle;
		i+span
			line-height: 15px
			font-size: 15px;
			font-family: "GilroyLight", sans-serif;
			color: rgba(#fff, 1)
			text-align: right;
			&:hover
				text-decoration underline
.fa-phone
	transform: rotate(90deg)
.tel:first-child
	.fas-phone
		margin-left: 0
.pre
	font-family: "RubikBold", sans-serif;
	color: rgb(255, 178, 30);
	line-height: 1.3
	font-size: 22px
	position relative
	z-index 9
.main_title
	font-size: 36px;
	font-family: "GilroyExtraBold", sans-serif;
	color: rgb(47, 59, 74);
	line-height: 1.089;
	width 100%
	max-width: 460px;
	margin 15px 0
	position relative
	z-index 9
	span
		font-family: "GilroyLight", sans-serif;
.main_date
	border: 1px solid #ffb21e
	border-radius: 28px
	width: 100%
	max-width 360px
	height 54px
	line-height 53px
	text-align: center
	padding 0 10px
	font-size: 20px;
	font-family: "GilroyExtraBold", sans-serif;
	color: rgb(47, 59, 74);
	color #2f3b4a
	position relative
	z-index 9
	span
		font-family: "GilroyLight", sans-serif;
.video_wrapper_main
	max-width 450px
	margin 30px auto 0 0
	box-shadow: 0px 1px 11.83px 1.17px rgba(0,0,0,0.1);
	z-index 9
#bonus_feedback
	padding 60px 0
	min-height calc(100vh - 795px)
.feedback_general_title
	margin-bottom: 70px
#vk
#fb
	box-shadow: 0px 1px 11.83px 1.17px rgba(0,0,0,0.1);
#footer
	width 100%
	padding 36px 0 40px
	background-color: #040917
	text-align: center
	h5
		font-size: 24px;
		color: rgb(255, 252, 252);
		line-height: 1.042;
		margin 0
		font-family: 'GilroyExtraBold', sans-serif
	p
	#conditions
		font-size: 14px;
		color: rgba(254, 254, 254, 0.302);
		line-height: 1.786;
	#conditions
		margin 15px 0 0
		text-decoration: underline
.soc_buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 20px 13px
		position relative
		z-index: 1
		border-radius: 50px
		width: 32px;
		height 32px
		background-color: #F5B334
		i
			width: 32px;
			height: 32px;
			color #040917
			font-size 18px
			line-height 32px
			position relative
			z-index 9
		&:hover
			background-color: #0e3f66
			i
				color #F5B334
@media screen and (min-width 1400px)
	#main
		background-position: center top
	#blue_back
		right -472px
@media screen and (min-width 2295px)
	.container
		width 1400px
	.contacts a i
	.contacts a i+span
		font-size: 19px
	#blue_back
		right: -338px;
		bottom: -65px;
	.pre
		font-size: 24px
	.main_title
		font-size: 40px
		max-width 490px
		margin 25px 0 35px
	.main_date
		max-width 415px
		font-size: 20px
	.video_wrapper_main
		max-width 520px
	#bonus_feedback
		padding 90px 0
		min-height: calc(100vh - 885px);
	#footer #conditions, #footer p
		font-size: 18px
	.soc_buttons a
	.soc_buttons a i
		width: 45px
		height 45px
	.soc_buttons a i
		line-height: 45px
		font-size: 30px
@media screen and (max-width 1199px)
	#blue_back
		right: -548px;
		bottom: -33px;
	.main_title
		max-width 320px
@media screen and (max-width 991px)
	#main
		text-align: center
		background-color: #1D4268
		background-image url(../img/waves.png)
		background-repeat repeat
		padding-bottom: 40px
	#blue_back
		display: none
	#header
		padding 15px 0
	#logo
		display: none
	#logo2
		display block
	.contacts
		float: none
		text-align: center
		a
			display: inline-block
	.main_title
		min-width 100%
		color: #fff
	.main_date
		margin 0 auto
		color #fff
	.video_wrapper_main
		margin 30px auto 0
	#bonus_feedback
		padding: 40px 0
	#footer
		padding 30px 0
@media screen and (max-width 767px)
	.feedback_general_title
		margin-bottom: 35px
	#vk
		margin-bottom: 20px
@media screen and (max-width 481px)
	#logo2
		width: 150px
	.contacts a i
	.contacts a i + span
		font-size: 13px
	.contacts a i
		line-height: 18px
	#header
		margin-bottom: 0
	.pre
		font-size: 20px
	.main_title
		font-size: 28px
	.main_date
		font-size: 18px
	#main
		padding-bottom: 30px
	#bonus_feedback
		padding 30px 0
	.general_title
		font-size: 24px
	#footer
		padding 20px 0
	#footer h5
		font-size: 20px
		margin-bottom: 10px
	#footer #conditions, #footer p
		font-size: 12px
	.soc_buttons a
		margin 0 8px 8px
@media screen and (max-width 380px)
	.pre
		font-size: 18px
	.main_title
		font-size: 24px
		margin 10px 0 15px
	.main_date
		font-size: 15px
		height: auto;
		line-height: 41px;
		padding 0 5px
	.video_wrapper_main
		margin-top: 20px
	.general_title
		font-size: 22px